@tailwind base;
@tailwind components;
@tailwind utilities;



/* width */
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #E5E7EB;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6b9fe4;
  border-radius: 100vh;
  border: 2px solid #ebecec;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3c7ccf;
}
